@charset "utf-8";

/******************************************************************** Woocommerce ************************************************/
@media only screen and (min-width: 10px) 
{
	div.mptbm_transport_search_area .woocommerce-page .woocommerce-checkout #customer_details, 
	div.mptbm_transport_search_area .woocommerce-page .woocommerce-checkout .col2-set, 
	div.mptbm_transport_search_area .woocommerce-page.woocommerce-order-pay #customer_details, 
	div.mptbm_transport_search_area .woocommerce-page.woocommerce-order-pay .col2-set 
	{
		width: 100%;
		float: none;
	}

	div.mptbm_transport_search_area input[type="file"] 
	{
		width: 100%;
		border: 1px solid #8f8f9d;
  		padding: .9rem 1.1rem;
		line-height: 1.25;
		font-size: var(--wp--preset--font-size--small);
	}

	div.mptbm_transport_search_area .woocommerce-page .danger-text 
	{
		color: var(--color_danger);
	}

	div.mptbm_transport_search_area .woocommerce-page .danger 
	{
		border: 1px solid var(--color_danger);
		color: var(--color_danger);
	}

}
