#searched-item-details
{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 25px;

}

.search-item
{
    box-sizing: border-box;
    font-family:Outfit !important;
}

.search-item:nth-child(1)
{
    grid-column: 1 / span 4;
    grid-row: 1;

    /*width:100%;*/
    background-color: var(--default-bg);
    /*border:1px solid var(--border_color);*/
    border-radius: var(--default-border-radious);
}

.search-item:nth-child(2)
{
    grid-column: 1;
    grid-row: 2;
}

.search-item:nth-child(3)
{
    grid-column: 2 / span 4;
    grid-row: 2;
}

.search-item > .sidebar
{
    margin-bottom: 20px;
    padding: 15px;

    box-sizing: border-box;
    background-color: var(--default-bg);
    border-radius: var(--default-border-radious);
    -webkit-box-shadow: 0 8px 12px rgb(51 65 80 / 6%), 0 14px 44px rgb(51 65 80 / 11%);
    box-shadow: 0 8px 12px rgb(51 65 80 / 6%), 0 14px 44px rgb(51 65 80 / 11%);
}

.search-item > .sidebar > .sidebar-header
{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #152C5B;
}

.search-item > .sidebar > .sidebar-topic
{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    /*font-size: 16px;*/
    line-height: 300%;
    color: #152C5B;
    /* identical to box height, or 29px */
}

.search-item > .sidebar > .sidebar-topic-value
{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    /*font-size: 16.8145px;*/
    line-height: 150%;
    /* identical to box height, or 29px */


    color: #A9A9A9;

}



.border-list
{
    width: 100%;
    border:none !important;
}

.border-list > li
{
    font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
    padding-top: 10px !important;
}

.span-text
{
    font-weight: bold;
    font-size: 15px;
}

#product-details
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-bottom: 30px;
    padding: 15px 15px 0px 15px;

    box-sizing: border-box;
    background-color: var(--default-bg);
    border-radius: var(--default-border-radious);
    -webkit-box-shadow: 0 8px 12px rgb(51 65 80 / 6%), 0 14px 44px rgb(51 65 80 / 11%);
    box-shadow: 0 8px 12px rgb(51 65 80 / 6%), 0 14px 44px rgb(51 65 80 / 11%);
}

.product-details-active
{
    background-color: #fffbf7 !important;
}

.details-item
{
    padding: 1px;
}

.details-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.details-item:nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.details-item:nth-child(3) {
    grid-column: 4;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.details-item:nth-child(4) {
    grid-column: 1 / span 4;
    grid-row: 2;
}

.details-item:nth-child(5) {
    grid-column: 1 / span 4;
    grid-row: 3;
}

.select-div
{
    justify-self: center;
    align-self: center;
}

#product-details .bg-image
{
    width: 100%;
    height: auto;
}

#icon-details
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}

.icon-item
{
    padding: 1px;
}

.icon-item:nth-child(1)
{
    grid-column: 1 / span 2;
    grid-row: 1;
}

.icon-item:nth-child(2)
{
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    align-items: center;
}

.icon-item:nth-child(3)
{
    grid-column: 2;
    grid-row: 2;
}

.car-title
{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #152C5B;
}

table:not(.has-background) tbody tr:nth-child(n) td, fieldset, fieldset legend
{
    background-color: transparent;
}

.icon-item .table-1,
.icon-item .table-2
{
    width:80%;
}

.icon-item .table-1
{
    float: right;
}

.icon-item .table-2
{
    float: left;
}

.icon-item .table-1 tr td,
.icon-item .table-2 tr td
{
    border: 0px !important;
    border-bottom: 0px solid var(--border_color) !important;
    text-align: left;
    line-height: 14px !important;
    font-size: 11px !important;
    padding : 2px 1px !important;

    background-color: inherit;
    color: #626262;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
}

.icon-item .table-1 tr > td:first-child,
.icon-item .table-2 tr > td:first-child
{
    width: 20%;
}

.icon-item .table-1 tr > td:nth-child(2),
.icon-item .table-2 tr > td:nth-child(2)
{
    /*width: 80%;*/
}

div.mpStyle .dShadow_5, [class*="_dShadow_5"], div.mpStyle [class*="dButton"]
{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.mpStyle [class*="dButton"] span
{
    margin:0px !important;
}

/*.mpStyle #product-details [class*="dButton"]*/
.mpStyle #product-details .car-select
{
    color: black;
    background: #EAECEE;
    border-radius: 1px;

    width: 130px;
    height: 38px;
}

.mpStyle #product-details .car-select:hover,
.mpStyle #product-details .car-select:focus,
.mpStyle #product-details .car-select:active
{
    color: white;
    background: #FB8802;
}

.uncollapsed-button
{
    color: white !important;
    background: #FB8802 !important;
}

.mptbm_extra_service_area
{
    width: inherit;
    display: block;
    /*padding: 10px;*/
    font-family: Outfit;
}

.mptbm_extra_service_area table
{
    width:100% !important;
}

.mptbm_extra_service_area table tr td,
.mptbm_extra_service_area table tr th
{
    border: 0px !important;
    border-bottom: 1px solid var(--border_color) !important;
    background-color: inherit;
    font-weight: 700;
    text-align: left;
}

.mptbm_extra_service_area > div > table > thead
{
    color: blue !important;
    background-color: orange !important;
    font-size: 15px;
    font-weight: bold;
}

.price-text
{
    display: inline;
    color: orange;
    font-weight: 700;
}

.extra-service-container-header
{
    color: #152C5B;
}

.service-description
{
    font-family: 'Outfit';
    color:gray;
    font-style: italic;
}

.extra-service-icon,
.extra-service-icon-image
{
    display: inline;
    margin-right: 7px;
    width: var(--fs) !important;
    height: var(--fs) !important;
}

.mpStyle .selectCheckbox
{
    color: black;
    background: #E5E5E5;
    padding: 5px !important;
    min-width: 100px !important;
}

.mpStyle .customCheckbox
{
    padding: 0px 0px 0px 6px !important;
}

.selected-background > span:nth-child(3)
{
    padding: 3px 0px 0px 27px !important;
}

.selected-background
{
    background-color: #ea8125 !important;
    color: white !important;
}

h2.textTheme
{
    padding: 10px;
}

.total-price-header
{
    font-family:Outfit;
    font-weight:700;
}

.total-price
{
    font-family:Outfit;
    font-weight:700;
}

.total-amount-text
{
    color: #152C5B; !important;
    font-weight:700 !important;
    text-transform: uppercase;
}

#booking-total table,
#booking-total tr,
#booking-total td,
#booking-total th
{
    border:none;
    background-color: #f0f0f0;
    font-weight: bold !important;
}

.car-icon-image
{
    width: var(--fs) !important;
    height: var(--fs) !important;
}

.custom-form-title > h5:nth-child(1) > .custom-icon-image,
.extra-service-container-header > .custom-icon-image
{
    padding-right: 5px;
    -webkit-transform: translateY(7px) translateX(0px);
    transform: translateY(7px) translateX(0px);
}

.custom-form
{
    width:100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
}

.custom-form-row:nth-child(1)
{
    width:100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
    /*padding-bottom: 20px;*/
}

.custom-form-row:nth-child(2)
{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
}

.custom-form-row:nth-child(3)
{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
}

.custom-form-row:nth-child(4)
{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
}

.custom-form-row:nth-child(5)
{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
}

.custom-form-element
{
    width:100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.custom-form-title > h5
{
    color: #152C5B;
}

.form-wrapper-outer{
    padding: 7px;
    border-radius: 8px;
    margin: auto;
    /*width: 460px;*/
    width:100%;
    /*border: 1px solid #DADCE0;*/
    /*margin-top: 7%;*/
}

.form-wrapper-outer .form-logo{
    margin: 0px auto 15px;
    width: 100px;
}

.form-wrapper-outer .form-logo img{
    width: 100%;
}

.form-greeting{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.form-button{
    text-align: right;
}

.field-wrapper{
    position: relative;
    margin-bottom: 15px;
}

.field-wrapper input{
    /*border: 1px solid #DADCE0;*/
    /*border: 1px solid #80868b;*/
    padding: 15px;
    border-radius: 4px;
    width: 100%;
}

.field-wrapper .field-placeholder{
    font-size: 16px;
    position: absolute;
    /* background: #fff; */
    bottom: 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #A7AAAD;
    left: 8px;
    padding: 0 8px;
    -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    z-index: 1;

    text-align: left;
    /*width: 100%;*/
}

.field-wrapper .field-placeholder span{
    /*background: #ffffff;*/
    padding: 0px 8px;
}

/*.field-wrapper input:not([disabled]):focus,*/
/*.field-wrapper.hasValue input:not([disabled])*/
/*{*/
/*    outline: 2px solid #e4e0df !important;*/
/*    background-color: #fffbf7;*/
/*}*/

/*.field-wrapper input:not([disabled]):focus~.field-placeholder,*/
/*.field-wrapper.hasValue input:not([disabled])~.field-placeholder*/
/*{*/
/*    color: #A7AAAD;*/
/*    background: #fffbf7;*/
/*}*/

/*.field-wrapper input:not([disabled]):focus~.field-placeholder,*/
/*.field-wrapper.hasValue input:not([disabled])~.field-placeholder*/
/*{*/
/*    -webkit-transform: scale(.75) translateY(-33px) translateX(-15px);*/
/*    transform: scale(.75) translateY(-33px) translateX(-15px);*/
/*}*/

.field-wrapper input:not([disabled]),
.field-wrapper.hasValue input:not([disabled])
{
    outline: 2px solid #e4e0df !important;
    background-color: #fffbf7;
}

.field-wrapper input:not([disabled])~.field-placeholder,
.field-wrapper.hasValue input:not([disabled])~.field-placeholder
{
    color: #A7AAAD;
    background: #fffbf7;
}

.field-wrapper input:not([disabled])~.field-placeholder,
.field-wrapper.hasValue input:not([disabled])~.field-placeholder
{
    -webkit-transform: scale(.9) translateY(-23px) translateX(-7px);
    transform: scale(.9) translateY(-23px) translateX(-7px);
}

.mpStyle #product-details .mptbm_book_now
{
    color: white;
    background: #1ABC9C;
    border-radius: 5px;
}

.mpStyle #product-details .mptbm_book_now:hover,
.mpStyle #product-details .mptbm_book_now:focus,
.mpStyle #product-details .mptbm_book_now [class="fas fa-cart-plus"]
{
    color: #1ABC9C;
    background: white;
}


:root {
    --step-length: 50px;
    --step-active-bg-color: #ea8125;
    --step-completed-bg-color: green;
    --step-default-bg-color: #cdcccc;
}


.step-container {
    display: flex;
    align-items: center;
    margin : 0% 11%;
}

.step-container:nth-child(2) {
    text-align: center;
    padding: 1% 1% 0% 1%;
    margin: 0% 8.8%;
}

.step {
    display: block;
    align-items: center;
    position: relative;
}

.active
{
    color : white;
    background-color: var(--step-active-bg-color) !important;

}

.completed
{
    color : white;
    background-color: var(--step-completed-bg-color) !important;

}

.default
{
    color : white;
    background-color: var(--step-default-bg-color) !important;

}

.step-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--step-length);
    height: var(--step-length);
    border-radius: 50%;
    font-weight: bold;
}

.step-label {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.step:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    height: 2px;
    background-color: #ccc;
    width: calc(100% - 40px);
    z-index: -1;
}

.step.active:not(:last-child):after {
    background-color: #4CAF50; /* green */
}

.step:first-child .step-label {
    margin-left: -20px;
}

.connector {
    flex-grow: 1;
    width: auto;
    content: "";
    display: block;
    height: 3px;
    text-align: center;
    background-color:  var(--step-default-bg-color);
}

.step-label-connector {
    flex-grow: 1;
    width: auto;
    content: "";
    display: block;
    height: 3px;
    text-align: center;
    background-color:  var(--default-bg);
}

